.headerBox {
	display: inline-block;
	width: 45%;
	text-align: center;
	height: 40px;
	line-height: 40px;
	color: black;
}

#header-login {
	background-color: gray;
}

#header-sign {
	background-color: white;
}